In [1]:
import numpy as np

In [134]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

In [3]:
# 1. How many negative numbers are there?
sum(a < 0)

4

In [4]:
# 2. How many positive numbers are there?
sum(a > 0)

5

In [5]:
# 3. How many even positive numbers are there?
sum((a > 0) & (a % 2 == 0))

3

In [6]:
# 4. If you were to add 3 to each data point, how many positive numbers would there be?
sum(a + 1 > 0)

8

In [7]:
# 5. If you squared each number, what would the new mean and standard deviation be?
np.mean(a ** 2), np.std(a ** 2)

(74.0, 144.0243035046516)

In [136]:
#  6. A common statistical operation on a dataset is centering. 
# This means to adjust the data such that the mean of the data is 0. 
# This is done by subtracting the mean from each data point. 
# Center the data set. See this link for more on centering.
centered = a - a.mean()
centered

array([  1.,   7.,   9.,  20.,  -5.,  -4.,  -3.,  -3.,  -3.,  -9.,   0.,
       -10.])

In [9]:
# 7. Calculate the z-score for each data point. Recall that the z-score is given by:
# Z = (x-μ) / σ
z_scores = (a - a.mean()) / a.std()
z_scores

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

## 8. Copy the setup and exercise directions from More Numpy Practice into your numpy_exercises.py and add your solutions.

In [10]:
# Life w/o numpy to life with numpy

## Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use python's built in functionality/operators to determine the following:

In [11]:
# Exercise 1 - Make a variable called sum_of_a to hold the 
# sum of all the numbers in above list
sum_of_a = 0
for num in a:
    sum_of_a += num
sum_of_a

55

In [12]:
# Exercise 2 - Make a variable named min_of_a to hold the 
# minimum of all the numbers in the above list
min_of_a = min(a)
min_of_a

1

In [13]:
# Exercise 3 - Make a variable named max_of_a to hold the 
# max number of all the numbers in the above list
max_of_a = max(a)
max_of_a

10

In [14]:
# Exercise 4 - Make a variable named mean_of_a to hold the 
# average of all the numbers in the above list
mean_of_a = sum_of_a / len(a)
mean_of_a

5.5

In [15]:
# Exercise 5 - Make a variable named product_of_a to hold the 
# product of multiplying all the numbers in the above list together
product_of_a = 1
for num in a:
    product_of_a = product_of_a * num
product_of_a

3628800

In [16]:
# Exercise 6 - Make a variable named squares_of_a. It should hold 
# each number in a squared like [1, 4, 9, 16, 25...]
squares_of_a = [x ** 2 for x in a]
squares_of_a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
# Exercise 7 - Make a variable named odds_in_a. It should hold only the odd numbers
odds_in_a = [x for x in a if x % 2 == 1]
odds_in_a

[1, 3, 5, 7, 9]

In [18]:
# Exercise 8 - Make a variable named evens_in_a. It should hold only the evens.
evens_in_a = [x for x in a if x % 2 == 0]
evens_in_a

[2, 4, 6, 8, 10]

#### What about life in two dimensions? A list of lists is matrix, a table, a spreadsheet, a chessboard...

In [19]:
## Setup 2: Consider what it would take to find the 
# sum, min, max, average, sum, product, and list of squares for this list of two lists.
b = [
    [3, 4, 5],
    [6, 7, 8]
]

In [132]:
# Exercise 1 - refactor the following to use numpy. 
# Use sum_of_b as the variable. 
# **Hint, you'll first need to make sure that the "b" variable is a numpy array**
sum_of_b = 0
for row in b:
    sum_of_b += sum(row)

b_array = np.array(b)
b_array.sum()

33

In [36]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])  
b_array.min()

3

In [37]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])
b_array.max()

8

In [38]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))
b_array.mean()

5.5

In [131]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number
b_array.prod()

20160

In [42]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)
b_array ** 2

array([[ 9, 16, 25],
       [36, 49, 64]])

In [45]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
    for number in row:
        if(number % 2 != 0):
            odds_in_b.append(number)
b_array[b_array % 2 == 1]

array([3, 5, 7])

In [46]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)
b_array[b_array % 2 == 0]

array([4, 6, 8])

In [48]:
# Exercise 9 - print out the shape of the array b.
b_array.shape

(2, 3)

In [49]:
# Exercise 10 - transpose the array b.
b_array.transpose()

array([[3, 6],
       [4, 7],
       [5, 8]])

In [60]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
b_array.flatten().tolist()

[3, 4, 5, 6, 7, 8]

In [90]:
# Exercise 12 - reshape the array b to be a list of 6 lists, 
# each containing only 1 number (6 x 1)
b_list = [[num] for num in b_array.flatten().tolist()]
b_list

[[3], [4], [5], [6], [7], [8]]

In [92]:
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# HINT, you'll first need to make sure that the "c" variable 
# is a numpy array prior to using numpy array methods.

In [93]:
c_array = np.array(c)

In [95]:
# Exercise 1 - Find the min, max, sum, and product of c.
c_array.min(), c_array.max(), c_array.sum(), c_array.prod()

(1, 9, 45, 362880)

In [96]:
# Exercise 2 - Determine the standard deviation of c.
c_array.std()

2.581988897471611

In [97]:
# Exercise 3 - Determine the variance of c.
c_array.var()

6.666666666666667

In [98]:
# Exercise 4 - Print out the shape of the array c
c_array.shape

(3, 3)

In [99]:
# Exercise 5 - Transpose c and print out transposed result.
c_array.transpose()

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [100]:
# Exercise 6 - Get the dot product of the array c with c. 
np.dot(c_array, c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [106]:
# Exercise 7 - Write the code necessary to sum up the result 
# of c times c transposed. Answer should be 261
np.sum(c * c_array.transpose())

261

In [107]:
# Exercise 8 - Write the code necessary to determine the 
# product of c times c transposed. Answer should be 131681894400.
np.prod(c * c_array.transpose())

131681894400

In [108]:
## Setup 4
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

In [109]:
d_array = np.array(d)

In [121]:
# Exercise 1 - Find the sine of all the numbers in d
np.sin(d_array)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

In [122]:
# Exercise 2 - Find the cosine of all the numbers in d
np.cos(d_array)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [123]:
# Exercise 3 - Find the tangent of all the numbers in d
np.tan(d_array)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [124]:
# Exercise 4 - Find all the negative numbers in d
d_array[d_array < 0]

array([-90, -30, -45, -45])

In [125]:
# Exercise 5 - Find all the positive numbers in d
d_array[d_array > 0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [126]:
# Exercise 6 - Return an array of only the unique numbers in d.
np.unique(d_array)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [127]:
# Exercise 7 - Determine how many unique numbers there are in d.
len(np.unique(d_array))

11

In [128]:
# Exercise 8 - Print out the shape of d.
d_array.shape

(3, 6)

In [129]:
# Exercise 9 - Transpose and then print out the shape of d.
d_array.transpose().shape

(6, 3)

In [130]:
# Exercise 10 - Reshape d into an array of 9 x 2
d_array.reshape((9,2))

array([[ 90,  30],
       [ 45,   0],
       [120, 180],
       [ 45, -90],
       [-30, 270],
       [ 90,   0],
       [ 60,  45],
       [-45,  90],
       [-45, 180]])