Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [1]:
import pandas as pd

In [3]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
# 1. Determine the number of elements in fruits.
fruits.size

17

In [5]:
# 2. Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [6]:
# 3. Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [7]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [8]:
# 5. Output only the first five values from fruits. 
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [9]:
# Output the last three values.
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [10]:
#  Output two random values from fruits.
fruits.sample(2)

14    blackberry
8       honeydew
dtype: object

In [11]:
# 6. Run the .describe() on fruits to see what information 
# it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [15]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [18]:
# 9. Determine the string value that occurs most frequently in fruits.
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [25]:
fruits.value_counts().idxmax()

'kiwi'

In [28]:
fruits.value_counts().nlargest(n=1)

kiwi    4
dtype: int64

In [19]:
# 10. Determine the string value that occurs least frequently in fruits.
fruits.value_counts().tail(1)

papaya    1
dtype: int64

In [34]:
fruits.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64